In [1]:
import nltk
from nltk.corpus import words
word_list = words.words()

word_list = [w for w in word_list if len(w) > 2]

len(word_list)

236506

In [4]:
valid_splits = []

for word in word_list:
    for i in range(2, len(word)):
        left = word[:i]
        right = word[i:]
        if len(left) > 2 and left in word_list and len(right)>2 and right in word_list:
            valid_splits.append([word, left, right])
            break 

print("Total valid splits found:", len(valid_splits))

Total valid splits found: 76591

In [6]:
import pandas as pd

df = pd.DataFrame(valid_splits, columns=['word','left','right'])
df.shape

(76591, 3)

In [7]:
flattern_lst = [x for l in valid_splits for x in l ]

In [8]:
word_counts = {}

for word in flattern_lst:
    if word in word_counts:
        word_counts[word] += 1
    else:
        word_counts[word] = 1

sorted_counts = sorted(word_counts.items(), key=lambda x: x[1], reverse=True)

In [20]:
words_to_exclude = [
    'ing', 'ment', 'com', 'dis', 'con', 'est','ent', 'pro', 'ted', 'les', 'ian', 'ist', 'der', 'sub', 'str', 'pre', 'res',
    'mit', 'ver', 'ext', 'tion', 'rec', 'sur', 'uni', 'comm', 'dec', 'eng', 'mar', 'tions', 'pas', 'rep', 'wal', 'rel',
    'abs', 'acc', 'ness', 'ism', 'ally', 'tri', 'dom', 'ess', 'ary','tic', 'aba', 'poly', 'pseudo','iso','par','tele', 'bes',
    'oxy', 'ology'
]

In [21]:
df2 = df[ ~(df['left'].isin(words_to_exclude) | df['right'].isin(words_to_exclude) )].reset_index(drop=True)
df2['right'].value_counts().head(50)

less        1577
like        1169
able        1134
man          807
ship         805
ion          503
ate          487
age          414
ling         391
wise         371
let          369
proof        365
weed         282
lessness     271
wood         270
maker        262
wort         256
hood         255
head         250
ableness     247
work         238
ability      236
some         229
making       227
fully        222
ably         218
fish         204
ant          201
ward         184
berry        176
stone        167
way          143
ting         142
bird         142
house        142
ger          141
land         140
per          139
board        138
flower       134
led          133
hearted      132
monger       129
back         125
ure          123
tail         119
ean          117
root         115
woman        113
ose          109
Name: right, dtype: int64

In [22]:
df2['left_right'] = df2['left'] + ' ' + df2['right']

In [23]:
df2

              word     left  right    left_right
0          abactor     abac    tor      abac tor
1      abandonable  abandon   able  abandon able
2        abashless    abash   less    abash less
3          abbassi      abb   assi      abb assi
4        abbotship    abbot   ship    abbot ship
...            ...      ...    ...           ...
58595      through     thro    ugh      thro ugh
58596     together      tog  ether     tog ether
58597       tongue      ton    gue       ton gue
58598       window      win    dow       win dow
58599    yesterday   yester    day    yester day

[58600 rows x 4 columns]

In [24]:
from sentence_transformers import SentenceTransformer
embedder = SentenceTransformer('bert-base-nli-mean-tokens')

In [25]:
import numpy as np

def euclideanDistance(x, y):
    x = np.array(x)
    y = np.array(y)
    return np.linalg.norm(y-x)

def calculate_distance(word, left_right):
    vec1 = get_sentence_embedding(word)
    vec2 = get_sentence_embedding(left_right)
    
    dist = euclideanDistance(vec1, vec2)
    return dist

def get_sentence_embedding(sentence):
    return embedder.encode(sentence)

In [26]:
df2['dist'] = df2.apply(lambda x: calculate_distance(x['word'], x['left_right']), axis=1)

In [27]:
df3 = df2.sort_values(by='dist', ascending=False).reset_index(drop=True)
df3.head()

         word left    right   left_right       dist
0     rapidly  rap     idly     rap idly  21.958546
1     funeral  fun     eral     fun eral  21.202032
2   beeflower  bee   flower   bee flower  21.199068
3  tenantship  ten  antship  ten antship  21.062946
4    tendance  ten    dance    ten dance  21.043100

In [28]:
df3.tail()

                    word    left        right          left_right      dist
58595    freeheartedness    free  heartedness    free heartedness  1.566774
58596        meekhearted    meek      hearted        meek hearted  1.542598
58597    gentleheartedly  gentle    heartedly    gentle heartedly  1.456233
58598  gentleheartedness  gentle  heartedness  gentle heartedness  1.424568
58599      gentlehearted  gentle      hearted      gentle hearted  1.364183

In [29]:
df3.head(50)

            word   left      right     left_right       dist
0        rapidly    rap       idly       rap idly  21.958546
1        funeral    fun       eral       fun eral  21.202032
2      beeflower    bee     flower     bee flower  21.199068
3     tenantship    ten    antship    ten antship  21.062946
4       tendance    ten      dance      ten dance  21.043100
5     boycottage    boy    cottage    boy cottage  21.042885
6   warmongering    war  mongering  war mongering  20.852793
7         barbed    bar        bed        bar bed  20.750692
8      Hollywood  Holly       wood     Holly wood  20.610861
9        mandate    man       date       man date  20.533480
10      tolerant   tole       rant      tole rant  20.291109
11      creepage   cree       page      cree page  20.273663
12       warming    war       ming       war ming  20.269466
13      growling   grow       ling      grow ling  20.216337
14       creepie   cree        pie       cree pie  20.204969
15       beerage    bee       rage       bee rage  20.160406
16    blackberry  black      berry    black berry  20.158897
17      rabbitry  rabbi        try      rabbi try  20.137672
18  orchideously    orc  hideously  orc hideously  20.105373
19        campus    cam        pus        cam pus  20.074516
20      warmouth    war      mouth      war mouth  20.048817
21    orchideous    orc    hideous    orc hideous  20.046370
22        carrot    car        rot        car rot  20.044937
23       creeper   cree        per       cree per  20.010340
24        bobbed    bob        bed        bob bed  20.007351
25      sparhawk   spar       hawk      spar hawk  20.006887
26     improving    imp     roving     imp roving  19.994747
27        tenant    ten        ant        ten ant  19.949036
28      spitfire   spit       fire      spit fire  19.936314
29      buttered  butte        red      butte red  19.931097
30       beefish    bee       fish       bee fish  19.877073
31        nobley    nob        ley        nob ley  19.875767
32        fungal    fun        gal        fun gal  19.846277
33      teamaker    tea      maker      tea maker  19.824707
34        warman    war        man        war man  19.800636
35     shortstop  short       stop     short stop  19.733553
36   brothership   brot    hership   brot hership  19.680864
37       pierage    pie       rage       pie rage  19.677120
38     mustanger   must      anger     must anger  19.670643
39      sleeping   slee       ping      slee ping  19.631414
40        ribbon    rib        bon        rib bon  19.584726
41      ribboner    rib      boner      rib boner  19.566051
42      lackeyed    lac      keyed      lac keyed  19.547352
43     brokerage  broke       rage     broke rage  19.543406
44        kitten    kit        ten        kit ten  19.541592
45      limbless    lim      bless      lim bless  19.527800
46  carpentering   carp   entering  carp entering  19.488829
47        mayhem    may        hem        may hem  19.482832
48       tending    ten       ding       ten ding  19.479107
49        notice    not        ice        not ice  19.456301

In [30]:
df3[df3['word']=='therapist']

         word left   right  left_right       dist
51  therapist  the  rapist  the rapist  19.429022

In [34]:
df4 = df3.head(1000)[['word','left_right', 'dist']].rename(columns={'left_right':'split_words'})
df4.tail()

                   word          split_words       dist
995        undershrubby        under shrubby  16.581631
996              anthem              ant hem  16.579014
997  overmultiplication  over multiplication  16.578173
998          overbarren          over barren  16.576887
999           important           import ant  16.575583

In [36]:
import os

pth = r'C:\Users\web3\Desktop\temp'
fName = 'split_words.csv'

df4[['word','split_words']].to_csv(os.path.join(pth, fName), index=False)

In [48]:
df3[df3['left']=='rapist']

Empty DataFrame
Columns: [word, left, right, left_right, dist]
Index: []

In [40]:
df3[1050:1100]

,word,left,right,left_right,dist
1050,forgettable,for,gettable,for gettable,16.507336
1051,wishfully,wish,fully,wish fully,16.505486
1052,patroller,pat,roller,pat roller,16.503748
1053,perversion,per,version,per version,16.502993
1054,reckless,reck,less,reck less,16.502451
1055,philander,phi,lander,phi lander,16.501495
1056,starboard,star,board,star board,16.501354
1057,underdog,under,dog,under dog,16.500769
1058,stepuncle,step,uncle,step uncle,16.499102
1059,underofficial,under,official,under official,16.498589
1060,studentry,stud,entry,stud entry,16.498289
1061,choice,cho,ice,cho ice,16.496738
1062,Spartan,Spar,tan,Spar tan,16.494066
1063,reavoid,rea,void,rea void,16.492834
1064,archliar,arch,liar,arch liar,16.492121
1065,underearth,under,earth,under earth,16.490656
1066,gossiper,gos,siper,gos siper,16.490435
1067,skyscraper,sky,scraper,sky scraper,16.489180
1068,underrepresentation,under,representation,under representation,16.488337
1069,penthouse,pen,thouse,pen thouse,16.487631
1070,superstimulation,super,stimulation,super stimulation,16.487329
1071,overwinter,over,winter,over winter,16.486765
1072,ultramodest,ultra,modest,ultra modest,16.484118
1073,rankish,ran,kish,ran kish,16.483763
1074,balladry,ball,adry,ball adry,16.482445
1075,goldish,gol,dish,gol dish,16.481733
1076,undercool,under,cool,under cool,16.479572
1077,persister,per,sister,per sister,16.479445
1078,desired,desi,red,desi red,16.473183
1079,leafage,lea,fage,lea fage,16.471880
1080,molecularist,molecula,rist,molecula rist,16.469790
1081,flittermouse,flitter,mouse,flitter mouse,16.468145
1082,overdistantness,over,distantness,over distantness,16.468121
1083,sunglade,sun,glade,sun glade,16.467833
1084,benzoid,ben,zoid,ben zoid,16.467520
1085,mousey,mou,sey,mou sey,16.467411
1086,environmentalist,environ,mentalist,environ mentalist,16.465977
1087,debtee,deb,tee,deb tee,16.463573
1088,bashfully,bash,fully,bash fully,16.460714
1089,widower,wid,ower,wid ower,16.460356
1090,superignorant,super,ignorant,super ignorant,16.460215
1091,underbishop,under,bishop,under bishop,16.456966
1092,pastoral,past,oral,past oral,16.455610
1093,sixteen,six,teen,six teen,16.452198
1094,streamlined,stream,lined,stream lined,16.451723
1095,teacherage,teache,rage,teache rage,16.450430
1096,outsmart,out,smart,out smart,16.450047
1097,superstimulate,super,stimulate,super stimulate,16.449146
1098,carnous,car,nous,car nous,16.448542
1099,alcohate,alco,hate,alco hate,16.447594

## results:

|å•è¯|ä¸­æ–‡å«ä¹‰|æ‹†åˆ†åŽ|ä¸­æ–‡å«ä¹‰|
|----|----|---|---|
|therapist  |  æ²»ç–—å¸ˆ      | the rapist  |    å¼ºå¥¸çŠ¯
|important  |  é‡è¦çš„       | import ant  |    è¿›å£èš‚èš
|tendance   |  è¶‹åŠ¿         | ten dance    |   ååªèˆž
|shortstop  |  æ¸¸å‡»æ‰‹       | short stop    |  çŸ­æš‚åœç•™
|therein    |  å…¶ä¸­         | the rein	   |    ç¼°ç»³
|mammalogical| å“ºä¹³åŠ¨ç‰©å­¦çš„  | mamma logical  | å¦ˆå¦ˆé€»è¾‘
|boycottage |è”åˆæŠµåˆ¶ | boy cottage | ç”·å­©å°å±‹
|orchideously| å…°èŠ±èˆ¬åœ° | orc hideously | å…½äººå¯æ€•
|pierage |ç å¤´ | pie rage | é¦…é¥¼æ„¤æ€’
|pastoral| ç”°å›­çš„ |	past oral | è¿‡åŽ»çš„å£å¤´

In [1]:
import os

os.startfile(os.getcwd())